<launch>
  <!-- Arguments -->
  <!-- <arg name="x_pos" default="-1.1"/>
  <arg name="y_pos" default="4.2"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="a_theta" default="0.0"/> -->

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find minitask5)/maps/train_env.yaml"/>
  <arg name="open_rviz" default="true"/>
  <!-- <arg name="move_forward_only" default="false"/> -->

  <node name="main" pkg="minitask5" type="main.py" output="screen">
    <param name="max_green_boxes"             value="2"/>
    <param name="max_red_hydrants"            value="2"/>
    <param name="red_radius"                  value="0.4"/>
    <param name="green_radius"                value="0.5"/>
    <param name="red_tolerance"               value="1"/>
    <param name="green_tolerance"             value="1"/>
    <param name="detection_range"             value="1.5"/>
  </node>

  <node name="frontier_finder" pkg="minitask5" type="frontier_finder.py" output="screen"/>
  <node name="image_processor" pkg="minitask5" type="image_proc.py" output="screen"/>
  <!-- <node name="object_avoid" pkg="minitask5" type="object_avoid.py" output="screen"/> -->
  <node name="move_to" pkg="minitask5" type="move_to.py" output="screen">
    <param name="max_green_boxes"             value="2"/>
    <param name="max_red_hydrants"            value="2"/>
  </node>
  <!-- <node name="scan_obj" pkg="minitask5" type="scan_obj.py" output="screen"/> -->
  <node name="mapping" pkg="minitask5" type="mapping.py" output="screen">
    <param name="map_provided"        value="True"/>
    <param name="pub_to"              value="/map"/>
    <param name="corr_x"              value="0.3"/>
    <param name="size_x"              value="384"/>
    <param name="size_y"              value="384"/>
    <param name="res"                 value="0.05"/>
    <param name="buffer_size"         value="1"/>
    <param name="blue_tiles_provided" value="True"/>
    <param name="interpolation"       value="True"/>
  </node>
  <node name="frontier_mapping" pkg="minitask5" type="mapping.py" output="screen">
    <param name="map_provided"        value="False"/>
    <param name="pub_to"              value="/map_frontier"/>
    <param name="corr_x"              value="0.3"/>
    <param name="size_x"              value="192"/>
    <param name="size_y"              value="192"/>
    <param name="res"                 value="0.1"/>
    <param name="buffer_size"         value="2"/>
    <param name="blue_tiles_provided" value="False"/>
    <param name="interpolation"       value="True"/>
  </node>

  <!-- Navigation -->
  <!-- <include file="$(find minitask5)/launch/minitask5_navigation.launch"> -->
      <!-- <arg name="x_nav_pos"   value="-1.3"/> -->
  <!-- </include> -->

  <!-- Arguments -->
  <!-- <arg name="x_nav_pos" default="-1.3"/>
  <arg name="y_nav_pos" default="4.2"/>
  <arg name="a_nav_theta" default="0.0"/> -->


  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="-1.0"/>
    <arg name="initial_pose_y" value="4.20"/>
    <arg name="initial_pose_a" value="0.0"/>
  </include>

  <!-- move_base -->
  <include file="$(find minitask5)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <!-- <arg name="move_forward_only" value="$(arg move_forward_only)"/> -->
  </include>

  <!-- <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group> -->
</launch>
