<launch>
  <!-- Arguments -->
  <!-- <arg name="x_pos" default="-1.1"/>
  <arg name="y_pos" default="4.2"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="a_theta" default="0.0"/> -->

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find minitask5)/maps/train_env.yaml"/>
  <arg name="open_rviz" default="true"/>
  <!-- <arg name="move_forward_only" default="false"/> -->


  <node name="main" pkg="minitask5" type="main.py" output="screen">
    <rosparam file="$(find minitask5)/param/main_params.yaml" command="load" />

  </node>

  <node name="frontier_finder" pkg="minitask5" type="frontier_finder.py" output="screen"/>
  <node name="image_processor" pkg="minitask5" type="image_proc.py" output="screen"/>
  <!-- <node name="object_avoid" pkg="minitask5" type="object_avoid.py" output="screen"/> -->
  <node name="move_to" pkg="minitask5" type="move_to.py" output="screen">
    <param name="max_green_boxes"             value="2"/>
    <param name="max_red_hydrants"            value="2"/>
  </node>
  <!-- <node name="scan_obj" pkg="minitask5" type="scan_obj.py" output="screen"/> -->
  <node name="mapping" pkg="minitask5" type="mapping.py" output="screen">
    <rosparam file="$(find minitask5)/param/mapping_params.yaml" command="load" />
  </node>
  <node name="frontier_mapping" pkg="minitask5" type="mapping.py" output="screen">
    <rosparam file="$(find minitask5)/param/frontier_mapping_params.yaml" command="load" />
  </node>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="-1.0"/>
    <arg name="initial_pose_y" value="4.20"/>
    <arg name="initial_pose_a" value="0.0"/>
  </include>

  <!-- move_base -->
  <include file="$(find minitask5)/launch/move_base.launch"/>

</launch>
